.content{
    position: relative;
    left: var(--sidebar-open-width);
    top: 0;
    width: calc(100% - var(--sidebar-open-width));
    height: 100vh;
    background-color: var(--darker-bg-color);
    transition: 0.3s ease;
    z-index: 100;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width:var(--sidebar-open-width);
    background-color: var(--dark-bg-color);
    transition: 0.3s ease;
    z-index: 200;
}
.sidebar_toggler{
    z-index: 150;
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(var(--sidebar-open-width) - 30px);
    top: 25px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--indicator-bg-color);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.sidebar_toggler:hover{
    background-color: var(--indicator-hover-bg-color);
    transition: background-color 0.3s ease;
}
.sidebar.close{
    left: var(--sidebar-close-left);
    /*
    width: var(--sidebar-close-width);
    */
}
.sidebar.close~.content{
    left: var(--sidebar-close-width);
    width: calc(100% - var(--sidebar-close-width));
}






.main{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav{
    width: 100%;
    height: 80px;
    background-color: var(--darkest-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 17px;
}


.leftside{
    display: flex;
    background-color: var(--nav-left-bg-color);
    gap: 10px;
}

.rightside{
    display: flex;
    width: 300px;
    border-radius: 7px;
    background-color: var(--darker-bg-color);
}



.rightside .searchable{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 7px;
}

.rightside .searchable input{
    width: 100%;
    font-weight: bold;
    background-color: var(--darker-bg-color);
}

.rightside .searchable input::placeholder{
    font-weight: bold;
    font-size: 1rem;
    color: #888a9c !important;
    background-color: var(--darker-bg-color);
}

.rightside .searchable input:focus{
    outline: none;
    color: #888a9c !important;
    background-color: var(--darker-bg-color);
}



.theme_toggler_container{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    background-color: #d41bb5;
    cursor: pointer;
}

.theme_toggler_container .theme_toggler{
    width: 20px;
    height: 20px;
    background-color: #01c4ff;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}






















/* حذف فلش‌ها در مرورگرهای مبتنی بر WebKit (مانند Chrome, Safari) */
.number_input::-webkit-inner-spin-button,
.number_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;   
}
.number_input {
    /* حذف فلش‌ها در Firefox */
    -moz-appearance: textfield;
    height: 30px;
    color: #d3d3d3 !important;
    background-color: #969696;
    border-radius: 3px;
}
.number_input:focus{
    outline: none;
    color: #d3d3d3 !important;
    background-color: #969696;
}


/* حذف فلش‌ها در مرورگرهای مبتنی بر WebKit (مانند Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* حذف فلش‌ها در Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
